@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/src/assets/fonts/Montserrat-Regular.woff2");
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("/src/assets/fonts/Montserrat-Italic.woff2");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/src/assets/fonts/Montserrat-SemiBold.woff2");
}
@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url("/src/assets/fonts/Montserrat-SemiBoldItalic.woff2");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/src/assets/fonts/Montserrat-Bold.woff2");
}
@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url("/src/assets/fonts/Montserrat-BoldItalic.woff2");
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url("/src/assets/fonts/Montserrat-Thin.woff2");
}
@font-face {
  font-family: "Montserrat-ThinItalic";
  src: url("/src/assets/fonts/Montserrat-ThinItalic.woff2");
}
@font-face {
  font-family: "Shrikhand";
  src: url("/src/assets/fonts/Shrikhand-Regular.woff2");
}
@font-face {
  font-family: "MonoLisa-Regular";
  src: url("/src/assets/fonts/MonoLisa-Regular.woff2");
}
.heading-container {
  @apply w-full bg-white p-6 shadow-lg z-10 my-4 md:my-6;
}
.heading {
  @apply text-xl md:text-center font-montserrat-semibold text-zinc-700;
}
.hero3 {
  @apply md:w-6/12 p-6 sm:pl-12 md:pl-20 lg:pl-56 2xl:pl-80 text-lg sm:text-xl md:text-2xl lg:text-3xl;
}
.hero1 {
  @apply md:py-4 text-3xl sm:text-4xl md:text-4xl lg:text-5xl 2xl:text-6xl;
}
.education {
  @apply flex ml-4 md:ml-0 md:justify-end md:mr-auto md:w-1/2;
}
.work {
  @apply flex ml-4 md:ml-0 md:ml-auto md:w-1/2;
}
