@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/src/assets/fonts/Montserrat-Regular.woff2");
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("/src/assets/fonts/Montserrat-Italic.woff2");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/src/assets/fonts/Montserrat-SemiBold.woff2");
}
@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url("/src/assets/fonts/Montserrat-SemiBoldItalic.woff2");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/src/assets/fonts/Montserrat-Bold.woff2");
}
@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url("/src/assets/fonts/Montserrat-BoldItalic.woff2");
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url("/src/assets/fonts/Montserrat-Thin.woff2");
}
@font-face {
  font-family: "Montserrat-ThinItalic";
  src: url("/src/assets/fonts/Montserrat-ThinItalic.woff2");
}
@font-face {
  font-family: "Shrikhand";
  src: url("/src/assets/fonts/Shrikhand-Regular.woff2");
}
@font-face {
  font-family: "MonoLisa-Regular";
  src: url("/src/assets/fonts/MonoLisa-Regular.woff2");
}
